commands:
  01_yumutils:
    command: "yum install -y yum-utils"
  02_configmanager:
    command: "yum-config-manager --add-repo https://openresty.org/package/amazon/openresty.repo"
  03_install:
    command: "yum install -y openresty"

groups:
  openresty: {}

users:
  openresty:
    groups:
      - openresty

files:
  "/usr/local/openresty/nginx/conf/nginx.conf" :
    mode: "000644"
    owner: openresty
    group: openresty
    content: |
      user openresty; # Needed for permissions
      pid /tmp/nginx.pid;
      worker_processes 4; # Match number of cores
      worker_rlimit_nofile 200000;

      error_log /tmp/error.log;

      events {
          worker_connections 1024;
      }

      http {
          log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

          access_log  /tmp/access.log  main;

          open_file_cache max=200000 inactive=20s;
          open_file_cache_valid 30s;
          open_file_cache_min_uses 2;
          open_file_cache_errors on;

          keepalive_timeout 15 5;
          keepalive_requests 5000;
          reset_timedout_connection on;
          client_body_timeout 10;
          send_timeout 20;

          port_in_redirect off;
          server_tokens off; # Remove version info
          tcp_nodelay on;
          tcp_nopush on;
          sendfile on;

          gzip on;
          gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript text/x-js;
          gzip_comp_level 6;
          gzip_proxied any;
          gzip_vary on;

          include /etc/openresty/conf.d/*.conf;
          include mime.types;
          default_type application/octet-stream;
      }

  "/etc/openresty/conf.d/webapp.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream python_backend {
          server unix:///tmp/uwsgi.sock;
      }

      server {
          listen 8080 default_server; # avoid to be conflit with apache2, will change to 80 after app is deployed
          server_name _;

          # No logs, to avoid filling the instance disk
          log_not_found off;

          # Deny all attempts to access hidden files such as .htaccess, .htpasswd, .DS_Store (Mac).
          location ~ /\. {
              deny all;
          }
          
          location /generate_204 {
              log_not_found off;
              access_log off;
              return 204;
          }

          location /static/ {
              alias /opt/python/current/app/static/;
          }

          location / {
              try_files $uri @python_webapp;
          }

          location @python_webapp {
              uwsgi_pass  python_backend;

              uwsgi_param   Host                 $host;
              uwsgi_param   X-Real-IP            $remote_addr;
              uwsgi_param   X-Forwarded-For      $proxy_add_x_forwarded_for;
              uwsgi_param   X-Forwarded-Proto    $http_x_forwarded_proto;
              uwsgi_param   REMOTE_HOST          $remote_addr;

              include uwsgi_params;
          }
      }



services:
  sysvinit:
    openresty:
      enabled: true
      ensureRunning: true
